services:
  calculator_service:
    container_name: calculator
    build:
      context: ./calculator
      dockerfile: Dockerfile
    environment:
      CALCULATOR_DEBUG: "false"
      SPRING_ZIPKIN_BASE-URL: "http://zipkin:9411/"
    ports:
    - 8019:8019
    depends_on:
      - zipkin

  addition_service:
    container_name: addition
    build:
      context: ./addition
      dockerfile: Dockerfile
    environment:
      SPRING_ZIPKIN_BASE-URL: "http://zipkin:9411/"
    ports:
    - 8020:8020
    depends_on:
      - calculator_service
      - zipkin

  subtraction_service:
    container_name: subtraction
    build:
      context: ./subtraction
      dockerfile: Dockerfile
    ports:
    - 8021:8021
    depends_on:
      - calculator_service
      - zipkin

  multiplication_service:
    container_name: multiplication
    build:
      context: ./multiplication
      dockerfile: Dockerfile
    ports:
    - 8022:8022
    depends_on:
      - calculator_service
      - zipkin

  division_service:
    container_name: division
    build:
      context: ./division
      dockerfile: Dockerfile
    ports:
    - 8023:8023
    depends_on:
      - calculator_service
      - zipkin

  zipkin:
    container_name: zipkin
    image: openzipkin/zipkin
    ports:
    - 9411:9411